.color-red {
    color: $colorRed !important;
}

.color-blue {
    color: $colorBlue !important;
}

.color-aqua-blue {
    color: $colorAquaBlue !important;
}

.color-orange {
    color: $colorOrange !important;
}

.color-green {
    color: $colorGreen !important;
}

.color-dark-green {
    color: $colorDarkGreen !important;
}

.color-gray {
    color: $colorGray !important;
}

.color-purple {
    color: $colorPurple !important;
}

.dialog-bottom-btn {
    position: absolute;
    width: 100%;
    padding-right: 40px; // 跟随 dialog: padding
}

.icon-layout-mini {
    padding: 0 5px;
    cursor: pointer;
}

.flex-row-center {
    display: flex;
    justify-content: center;
}

.fixed-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
}