.color-red {
    color: $colorRed !important;
}

.color-blue {
    color: $colorBlue !important;
}

.color-aqua-blue {
    color: $colorAquaBlue !important;
}

.color-orange {
    color: $colorOrange !important;
}

.color-green {
    color: $colorGreen !important;
}

.color-dark-green {
    color: $colorDarkGreen !important;
}

.color-gray {
    color: $colorGray !important;
}

.color-purple {
    color: $colorPurple !important;
}

.icon-layout-mini {
    padding: 0 5px;
    cursor: pointer;
}