//color
$colorPrimary: #409EFF;
$colorPrimary-01: #a0cfff;
$colorPrimary-02: #d9ecff;
$colorPrimary-03: #ecf5ff;

$colorSuccess: #67C23A;
$colorDanger: #F56C6C;

$colorInfo: #909399;
$colorInfo-01: #303133;
$colorInfo-02: #606266;

$colorRed: #FF0000;
$colorBlue: #00CCFF;
$colorAquaBlue: #21BDBB;
$colorOrange: #ff6633;
$colorGreen: #70c656;
$colorDarkGreen: #339900;
$colorGray: #cccccc;
$colorPurple: #EB557B;
